<div class=" container">
  <div class="row py-5">
    <div class="col-xl-6 col-lg-6 col-md-8 col-12 m-auto">
         <div class="text-center acc">
              <div class="lgn">
                  <div class="form-group">
                      {% form 'activate_customer_password' %}
                        <h1 class="py-4">{{ 'customer.activate_account.title' | t }}</h1>
                        <span class="py-2 px-2 text-break">{{ 'customer.activate_account.subtext' | t }}</span>
                        {{ form.errors | default_errors }}
                        <input type="password"
                          name="customer[password]"
                          id="CustomerPassword"
                          class="form-control"
                          placeholder="{{ 'customer.activate_account.password' | t }}">
                        <input type="password"
                          name="customer[password_confirmation]"
                          id="CustomerPasswordConfirmation"
                           class="form-control"
                          placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
                        <input type="submit" class="button frm-btn" value="{{ 'customer.activate_account.submit' | t }}">
                      {% endform %}
                  </div>
              </div>
          </div>
    </div>
</div>    
