<section class="bonus-share-feature">
    <div class="up_light_animated_wave"></div>
    {% if section.settings.image_anim != blank %}
    <div class="right_anim position-absolute animation_img">
        <img src="{{ section.settings.image_anim | img_url: '300x' }}" alt="{{ section.settings.image_anim.alt }}">
    </div>
    {% endif %}
    <div class="bonus-share-inner py-5">
        <div class="container">
            <div class="title_div text-center mb-5">
                {% if section.settings.subtitle != blank %}
                    <h5>{{ section.settings.subtitle }}</h5>
                {% endif %}
                {% if section.settings.title != blank %}
                    <h3 class="mb-0">{{ section.settings.title }}</h3>
                {% endif %}
            </div>
            <div class="row align-items-center">
                <div class="col-md-4 order-md-1 order-2">
                    {% for block in section.blocks %}
                        {% if block.settings.features_side == 'Left' %}
                            <div class="bonus_features_div py-4">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <div class="img_div">
                                            {% if block.settings.features_icon != blank %}
                                                <img src="{{ block.settings.features_icon | img_url:'60x60' }}" />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="bonus_features_info">
                                            {% if block.settings.features_title != blank %}
                                                <h5>{{ block.settings.features_title }}</h5>
                                            {% endif %}
                                            {% if block.settings.features_info != blank %}
                                                <div class="richtext">{{ block.settings.features_info }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-4 order-md-2 order-1">
                    <div class="features_image">
                        {% if section.settings.image != blank %}
                        {%- assign preview_image = section.settings.image -%}
                            {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            {% unless preview_image == blank %}
                                {% include 'image-style', image: preview_image, height: max_height %}
                            {% endunless %}
                            <img id="{{ img_id }}"
                            class="lazyautosizes lazyload js"
                            alt="{{ preview_image.alt }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ preview_image.aspect_ratio }}"
                            data-sizes="auto"
                            data-image  data-index="{{ forloop.index }}">
                      {% endif %}
                    </div>
                </div>
                <div class="col-md-4 order-3">
                    {% for block in section.blocks %}
                        {% if block.settings.features_side == 'Right' %}
                            <div class="bonus_features_div py-4">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <div class="img_div">
                                            {% if block.settings.features_icon != blank %}
                                                <img src="{{ block.settings.features_icon | img_url:'60x60' }}" />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="bonus_features_info">
                                            {% if block.settings.features_title != blank %}
                                                <h5>{{ block.settings.features_title }}</h5>
                                            {% endif %}
                                            {% if block.settings.features_info != blank %}
                                                <div class="richtext">{{ block.settings.features_info }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="text-center mt-3">
                {% if section.settings.btn_url != blank %}
                    <a class="button-all mt-4 m-auto shadow-none w-full-mob" href="{{ section.settings.btn_url }}">{{ section.settings.btn_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="left_anim position-absolute animation_img">
        <svg width="347" height="443" viewBox="0 0 347 443" fill="none" xmlns="http://www.w3.org/2000/svg" id="animation_item_first" class="animated_white">
            <path fill="#D97043" stroke="#D97043" stroke-width="1" stroke-miterlimit="5" d="M261.048 70.8821C259.493 68.1308 260.198 64.3392 261.93 61.7937C263.663 59.2482 266.42 57.6968 268.924 56.1489C269.927 55.6305 270.678 55.1157 271.681 54.5974C274.691 53.0424 278.216 52.2364 281.528 54.2067C283.822 55.6871 285.622 57.9307 287.419 59.9223C288.191 60.9199 289.215 61.9139 289.489 63.4227C290.012 64.6759 290.033 66.1883 289.802 67.7042C289.111 72.504 285.888 76.8353 281.616 78.408C279.353 79.1962 276.828 79.2318 274.306 79.5194C272.289 79.7999 270.272 80.0804 268.244 79.6047C266.216 79.129 264.178 77.8972 263.388 75.6393C263.125 74.8867 263.111 73.8784 262.595 73.1293C262.079 72.3803 261.564 71.6312 261.048 70.8821Z" style="stroke-dasharray: 89, 91; stroke-dashoffset: 0;"></path>
            <path fill="#D97043" stroke="#D97043" stroke-width="1" stroke-miterlimit="5" d="M266.411 3.24114C267.151 1.97018 268.912 1.44117 270.431 1.6719C271.95 1.90263 273.224 2.64103 274.245 3.38299C274.753 3.62794 275.009 3.87645 275.518 4.12141C276.795 5.11187 278.076 6.35439 277.848 8.12237C277.866 9.38267 277.126 10.6536 276.638 11.9211C276.393 12.4287 276.151 13.1885 275.649 13.4476C275.151 13.9589 274.65 14.218 273.895 14.4808C271.633 15.2689 269.104 15.0524 267.567 13.5614C266.799 12.8159 266.027 11.8183 265.507 10.8172C264.992 10.0681 264.476 9.31903 263.957 8.3179C263.69 7.31321 263.676 6.30497 264.419 5.28607C264.668 5.03045 265.17 4.77128 265.419 4.51567C266.169 4.00088 266.166 3.74882 266.411 3.24114Z" style="stroke-dasharray: 43, 45; stroke-dashoffset: 0;"></path>
            <path fill="#D97043" stroke="#D97043" stroke-width="1" stroke-miterlimit="5" d="M337.644 74.594C339.889 72.5456 343.695 73.7525 345.242 75.9998C346.018 77.2494 346.299 79.2623 345.559 80.5333C344.822 82.0563 343.321 83.0859 341.806 83.1072C340.038 83.1321 338.252 81.8967 337.22 80.3985C336.705 79.6495 336.185 78.6483 336.167 77.388C336.157 76.6319 336.644 75.3644 337.644 74.594Z" style="stroke-dasharray: 31, 33; stroke-dashoffset: 0;"></path>
            <path fill="#D97043" stroke="#D97043" stroke-width="1" stroke-miterlimit="5" d="M251.599 99.5037C252.339 98.2328 254.1 97.7038 255.619 97.9345C257.138 98.1652 258.411 98.9036 259.432 99.6456C259.941 99.8905 260.197 100.139 260.705 100.384C261.982 101.374 263.263 102.617 263.035 104.385C263.053 105.645 262.313 106.916 261.826 108.184C261.58 108.691 261.338 109.451 260.837 109.71C260.339 110.221 259.837 110.481 259.083 110.743C256.82 111.532 254.291 111.315 252.754 109.824C251.986 109.078 251.214 108.081 250.695 107.08C250.179 106.331 249.663 105.582 249.144 104.58C248.877 103.576 248.863 102.568 249.607 101.549C249.856 101.293 250.357 101.034 250.606 100.778C251.104 100.267 251.35 99.7593 251.599 99.5037Z" style="stroke-dasharray: 43, 45; stroke-dashoffset: 0;"></path>
            <path fill="#D97043" stroke="#D97043" stroke-width="1" stroke-miterlimit="5" d="M330.179 28.8152C330.691 29.3122 330.702 30.0684 330.456 30.576C330.211 31.0837 329.713 31.5949 329.464 31.8506C329.215 32.1062 329.215 32.1062 328.966 32.3618C328.468 32.873 327.966 33.1322 327.205 32.8908C326.696 32.6458 326.187 32.4009 325.931 32.1524C325.675 31.9039 325.423 31.9074 325.419 31.6554C325.163 31.4069 325.159 31.1548 325.156 30.9028C325.142 29.8945 325.38 28.8827 326.134 28.62C326.636 28.3608 326.885 28.1052 327.39 28.0981C327.635 27.5904 328.141 27.5833 328.39 27.3277C328.639 27.0721 329.403 27.5655 329.663 28.0661C329.667 28.3181 329.919 28.3146 329.923 28.5667C329.923 28.5667 329.923 28.5667 330.179 28.8152Z" style="stroke-dasharray: 18, 20; stroke-dashoffset: 0;"></path>
            <path fill="#D97043" stroke="#D97043" stroke-width="1" stroke-miterlimit="5" d="M304.931 65.7267C305.443 66.2237 305.454 66.9799 305.209 67.4876C304.963 67.9953 304.465 68.5065 304.216 68.7621C303.967 69.0177 303.967 69.0177 303.718 69.2734C303.22 69.7846 302.718 70.0438 301.957 69.8024C301.448 69.5574 300.94 69.3125 300.684 69.064C300.427 68.8155 300.175 68.819 300.171 68.5669C299.915 68.3184 299.912 68.0664 299.908 67.8143C299.894 66.8061 300.132 65.7943 300.887 65.5316C301.388 65.2724 301.637 65.0168 302.142 65.0097C302.391 64.754 302.896 64.7469 303.402 64.7398C303.907 64.7327 304.163 64.9812 304.419 65.2297C304.422 65.4818 304.675 65.4782 304.679 65.7303C304.675 65.4782 304.928 65.4747 304.931 65.7267Z" style="stroke-dasharray: 17, 19; stroke-dashoffset: 0;"></path>
            <path fill="#D97043" stroke="#D97043" stroke-width="1" stroke-miterlimit="5" d="M43.6344 310.674C45.9005 310.138 48.1665 309.602 50.429 308.814C55.4591 307.23 60.4892 305.647 65.5193 304.063C77.8419 300.108 90.1682 296.405 102.494 292.702C116.838 288.718 130.665 283.986 144.749 279.502C149.779 277.918 154.546 275.582 159.053 272.745C160.305 271.972 161.554 270.945 162.802 269.919C164.051 268.893 165.3 267.867 166.036 266.344C166.531 265.581 167.025 264.818 167.516 263.802C168.491 261.268 167.701 259.01 165.161 258.037C164.909 258.041 164.653 257.792 164.4 257.796C163.13 257.309 161.867 257.327 160.601 257.093C156.556 256.898 152.519 257.207 148.734 257.512C140.16 258.641 131.605 261.031 123.309 263.921C116.273 266.541 109.492 269.409 102.712 272.278C96.4334 274.887 90.1617 278.001 84.1462 281.363C78.3797 284.47 72.6131 287.576 66.5905 290.434C57.8109 294.844 49.291 299.754 41.5465 305.913C41.2974 306.169 41.0449 306.172 40.7888 305.924C40.7817 305.42 40.7746 304.916 41.02 304.408C41.2513 302.892 41.7316 301.121 41.9629 299.605C43.3861 293.03 44.8093 286.455 46.485 279.876C48.1572 273.046 50.0819 266.212 52.2593 259.374C52.7396 257.603 52.7396 257.603 54.4969 256.822C54.9985 256.562 55.2511 256.559 55.7562 256.552C57.2681 256.278 58.7799 256.005 60.2918 255.732C64.3187 254.666 68.3527 254.105 72.3938 254.049C76.9401 253.985 81.4899 254.173 86.0361 254.109C95.6373 254.226 105.488 254.087 115.085 253.952C121.399 253.863 127.703 253.018 134.003 251.921C140.05 250.827 146.351 249.73 152.394 248.385C156.674 247.316 160.953 246.247 165.229 244.926C170.259 243.343 175.033 241.511 179.544 238.926C181.298 237.893 183.052 236.86 184.802 235.575C186.549 234.038 188.295 232.5 189.782 230.463C190.526 229.444 190.764 228.432 191.255 227.417C191.736 225.645 191.462 224.136 190.181 222.894C189.669 222.397 189.157 221.9 188.644 221.403C187.371 220.664 186.097 219.926 184.831 219.692C183.06 219.464 181.541 219.234 179.769 219.007C174.714 218.826 169.919 219.145 164.878 219.972C156.558 221.098 148.497 222.724 140.439 224.602C130.621 227.01 120.799 229.165 110.97 230.816C105.175 231.906 99.633 232.992 93.8452 234.586C82.2696 237.774 71.2133 241.964 61.1992 248.408C59.1964 249.696 57.1936 250.985 55.1979 252.778C55.1979 252.778 54.9488 253.034 54.6963 253.037C54.6927 252.785 54.6892 252.533 54.6856 252.281C56.6281 246.707 58.5706 241.133 60.5131 235.56C62.2208 231.25 64.1775 226.684 65.8852 222.374C67.8418 217.809 69.8021 213.495 72.0149 209.178C72.7549 207.907 73.2387 206.388 74.2312 205.113C74.217 204.105 74.9748 204.094 75.4799 204.087C77.4969 203.807 79.2578 203.278 81.2748 202.997C81.7799 202.99 82.5341 202.727 83.0392 202.72C91.3598 201.595 99.9436 201.222 108.282 201.357C111.818 201.307 115.357 201.509 119.146 201.456C126.218 201.356 133.037 201.26 140.106 200.909C148.946 200.784 157.786 200.66 166.622 200.283C172.427 199.949 178.237 199.868 184.039 199.282C191.352 198.423 198.659 197.059 205.952 194.687C210.729 193.108 215.251 191.279 219.505 188.446C220.758 187.672 222.006 186.646 223.255 185.62C224.251 184.598 225.247 183.575 225.734 182.308C226.962 179.769 226.418 177.004 224.369 175.016C223.6 174.27 222.579 173.528 221.31 173.042C218.005 171.576 214.206 170.873 210.663 170.419C206.867 169.968 202.829 170.277 199.048 170.834C192.997 171.676 186.949 172.769 181.162 174.363C173.357 176.238 165.808 178.361 158.003 180.236C151.205 181.844 144.404 183.2 137.595 184.053C131.039 184.901 124.732 185.494 118.175 186.343C113.131 186.918 108.09 187.745 103.053 188.825C93.733 190.721 85.4514 194.619 77.6963 200.022C77.4472 200.278 77.1947 200.281 76.9457 200.537C76.935 199.781 77.184 199.525 77.4295 199.018C81.1258 192.411 84.8221 185.804 89.0271 179.442C91.4995 175.625 93.972 171.809 96.6971 167.989C97.4406 166.97 98.1912 166.455 99.4505 166.185C99.7031 166.182 100.208 166.175 100.457 165.919C101.717 165.649 102.979 165.632 103.986 165.365C110.279 163.764 116.579 162.667 122.886 162.074C130.204 161.467 137.517 160.607 145.095 160.501C150.146 160.43 155.453 160.607 160.508 160.788C170.11 160.905 179.714 161.274 189.315 161.391C195.886 161.551 202.2 161.462 208.504 160.617C215.316 160.017 221.869 158.916 228.418 157.563C231.189 157.02 234.205 155.969 236.713 154.673C237.969 154.151 239.221 153.377 240.474 152.603C242.227 151.57 243.469 150.04 244.202 148.265C245.184 146.234 244.899 143.969 243.11 142.482C242.598 141.985 241.833 141.491 241.072 141.25C239.802 140.764 238.532 140.277 237.009 139.794C232.698 138.595 228.141 137.902 223.591 137.714C218.031 137.541 212.474 137.619 206.925 138.201C188.256 139.977 169.584 141.5 151.171 143.524C145.622 144.106 140.076 144.941 134.526 145.523C132.257 145.807 130.243 146.34 128.23 146.872C122.944 148.207 117.665 150.046 113.157 152.883C109.899 154.693 106.896 156.753 103.641 158.815C103.392 159.071 103.143 159.326 102.638 159.334C102.635 159.082 102.635 159.082 102.635 159.082C104.122 157.044 105.858 154.75 107.597 152.709C107.846 152.453 108.095 152.198 108.344 151.942C113.083 147.589 118.074 143.233 123.584 139.878C124.086 139.619 124.584 139.108 125.085 138.849C136.096 131.383 147.618 124.413 159.404 118.197C166.675 114.313 174.195 110.173 181.467 106.289C195.504 98.5284 209.275 89.7628 222.277 80.2517C227.275 76.3997 232.27 72.2957 236.5 67.6981C237.247 66.9313 237.99 65.9124 238.737 65.1455C239.235 64.6343 239.477 63.8746 239.723 63.3669C240.452 61.3397 239.915 59.0783 237.631 58.3541C236.614 57.8642 235.604 57.8784 234.59 57.6406C232.818 57.4134 231.054 57.6904 229.542 57.9638C225.76 58.5212 222.235 59.3272 218.461 60.3887C211.165 62.5083 204.132 65.3805 197.109 69.0089C190.841 72.3746 184.829 75.9887 178.821 79.855C166.555 87.843 155.057 96.5766 144.591 106.808C137.114 113.973 129.892 121.386 122.923 128.795C115.705 136.46 108.747 144.625 102.549 153.032C100.07 156.344 97.8393 159.401 95.3597 162.713C95.1107 162.969 95.1142 163.221 94.8652 163.477C94.8652 163.477 94.6126 163.48 94.3601 163.484C94.5985 162.472 94.8404 161.712 95.3349 160.949C96.3132 158.666 97.288 156.131 98.2664 153.849C100.461 148.271 102.4 142.446 104.09 136.875C106.986 127.254 109.63 117.637 112.017 107.771C113.213 102.964 114.408 98.1572 115.603 93.3503C116.084 91.5788 116.564 89.8072 116.788 87.7872C117.745 83.9921 118.699 79.9449 119.403 76.1533C120.353 71.8541 121.303 67.5548 122.25 63.0035C122.951 58.9599 123.904 54.9127 124.605 50.8691C125.302 46.5734 126 42.2777 126.441 37.7335C126.676 36.4697 126.658 35.2093 126.64 33.949C126.63 33.1929 126.619 32.4367 126.352 31.432C125.822 29.6747 124.552 29.1883 123.044 29.7138C122.543 29.973 122.041 30.2321 121.539 30.4913C121.041 31.0025 120.287 31.2653 119.789 31.7765C118.793 32.799 118.046 33.5658 117.05 34.5883C114.318 37.9041 112.094 41.465 109.874 45.2779C107.167 50.3582 104.712 55.435 102.258 60.5117C100.539 64.0655 99.0771 67.8677 97.8674 71.6664C94.4734 81.7985 91.5845 91.9236 89.7129 102.539C88.7807 108.098 88.0975 113.402 87.4179 118.958C86.7737 127.035 86.3821 135.108 86.2395 142.925C86.0934 150.491 85.6947 158.059 85.0434 165.632C84.595 169.672 84.1431 173.46 84.4524 177.489C84.4631 178.246 84.2176 178.753 83.9721 179.261C82.7341 181.043 81.7487 182.822 80.7632 184.6C75.5728 192.741 70.8946 201.379 66.7216 210.009C66.7251 210.261 66.4726 210.265 66.2271 210.772C66.22 210.268 66.2164 210.016 66.2129 209.764C66.6648 205.976 67.3657 201.932 67.8177 198.144C68.9776 190.817 69.6325 183.497 70.2837 175.924C70.935 168.352 71.3337 160.783 72.2411 153.459C72.903 146.642 73.5613 139.574 74.4758 132.754C75.5826 121.646 76.1877 110.796 75.779 99.7094C75.6797 92.6517 74.8262 85.8568 73.464 78.8168C72.9234 76.3033 72.1267 73.5414 71.3335 71.0314C70.8106 69.7782 70.2877 68.525 69.5123 67.2754C68.9929 66.2743 68.221 65.2767 67.2036 64.7868C65.674 63.7999 64.1586 63.8212 62.6539 64.5987C61.9033 65.1135 61.1562 65.8803 60.6617 66.6436C59.9217 67.9146 59.1818 69.1856 58.6944 70.453C56.7377 75.0185 55.5422 79.8254 54.8519 84.6252C54.1687 89.9292 53.7381 95.2296 53.56 100.526C53.2039 111.12 53.3494 121.454 53.751 132.037C54.1454 142.116 54.2838 151.947 54.6783 162.026C55.0692 171.852 55.7163 181.928 56.8649 191.744C57.4375 196.526 58.01 201.308 58.3336 206.345C58.931 212.892 59.0197 219.193 59.617 225.74C59.6277 226.496 59.3822 227.004 59.1403 227.764C57.671 231.062 56.4578 234.608 54.9885 237.906C52.7899 243.232 51.0964 248.55 49.1539 254.124C47.2185 260.201 45.2867 266.531 43.6038 272.606C43.1235 274.377 42.6397 275.897 42.1594 277.668C42.1629 277.92 42.1665 278.172 41.6649 278.432C41.6613 278.179 41.4052 277.931 41.3981 277.427C40.854 274.661 40.0608 272.151 39.5166 269.386C38.1367 261.086 36.7603 253.037 35.3804 244.737C33.7053 233.416 32.0302 222.094 30.1026 210.777C28.4488 200.968 26.5424 191.162 24.6325 181.105C22.9823 171.548 21.3285 161.739 19.4257 152.185C18.3409 146.906 17.5052 141.372 15.9152 136.1C15.3782 133.838 14.5921 131.832 13.806 129.827C13.2866 128.825 13.0234 128.073 12.5041 127.072C11.9883 126.323 11.4761 125.826 10.9639 125.329C9.94295 124.587 8.93265 124.601 7.93301 125.371C7.43142 125.63 6.93338 126.142 6.68791 126.649C5.94439 127.668 5.457 128.936 4.96605 129.951C3.99835 132.99 3.28678 136.277 2.82422 139.309C2.13037 143.857 1.9381 148.146 2.00196 152.683C1.92679 165.289 3.11449 177.878 5.56501 190.449C7.2117 199.754 9.61253 208.796 12.0134 217.838C15.4742 230.395 19.4401 242.945 24.6618 254.973C26.7533 259.985 29.1009 265.247 31.9466 269.997C34.2765 273.998 36.859 277.995 39.943 281.733C40.7114 282.479 40.9781 283.483 40.7398 284.495C40.263 286.519 39.7863 288.542 39.3059 290.314C38.356 294.613 37.406 298.912 36.456 303.212C35.2677 308.523 34.332 313.83 33.3962 319.138C32.4569 324.193 31.5211 329.501 30.8343 334.553C29.9057 340.364 23.7391 386.839 22.8104 392.651C21.8889 398.967 20.9708 405.534 20.3018 411.846C19.4015 419.675 18.5012 427.503 17.3448 435.082C17.1171 436.85 16.8858 438.366 16.9106 440.131C16.9177 440.635 16.9248 441.139 16.9355 441.895C16.9461 442.651 17.7038 442.64 18.2054 442.381C18.7035 441.87 19.2015 441.359 19.447 440.851C19.6889 440.091 20.1799 439.076 20.4218 438.316C21.6243 434.014 22.8268 429.711 23.5242 425.415C24.4494 419.351 25.3745 413.288 26.0435 406.976C26.7338 402.176 27.4241 397.376 28.1144 392.576C28.8118 388.28 34.7471 343.321 35.4409 338.774C36.1383 334.478 36.8357 330.182 37.5331 325.886C38.2376 322.095 38.9421 318.303 39.6465 314.512C39.8814 313.248 40.1162 311.984 41.3649 310.958C41.87 310.951 42.6242 310.688 43.6344 310.674ZM127.657 159.99C128.158 159.731 128.66 159.472 129.172 159.969C129.418 159.461 129.926 159.706 130.179 159.702C131.943 159.425 133.964 159.397 135.728 159.12C138.503 158.829 141.029 158.793 143.803 158.502C150.367 158.158 157.175 157.305 163.728 156.205C173.809 154.55 183.894 153.148 193.979 151.745C199.525 150.911 205.078 150.58 210.631 150.25C215.932 149.923 221.232 149.597 226.525 148.766C229.048 148.478 231.566 147.939 234.081 147.147C235.088 146.881 236.347 146.611 237.354 146.345C239.115 145.815 240.627 145.542 242.388 145.013C242.64 145.01 242.9 145.51 242.903 145.762C243.163 146.263 243.17 146.767 242.925 147.275C242.679 147.782 242.434 148.29 241.936 148.801C241.192 149.82 240.445 150.587 239.442 151.105C238.19 151.879 236.685 152.657 235.429 153.179C233.17 154.219 230.908 155.007 228.389 155.547C216.81 158.483 204.953 159.658 193.079 159.573C187.014 159.406 180.945 158.988 174.635 159.329C169.331 159.403 164.027 159.478 158.719 159.301C154.927 159.102 151.391 159.152 147.603 159.205C141.79 159.035 136.24 159.617 130.435 159.951C129.93 159.958 129.425 159.965 128.667 159.976C128.667 159.976 128.162 159.983 127.657 159.99C127.408 160.245 127.152 159.997 126.899 160.001C126.899 160.001 126.902 160.253 126.65 160.256C126.65 160.256 126.902 160.253 126.899 160.001C127.152 159.997 127.404 159.993 127.657 159.99ZM125.131 160.025C124.878 160.029 124.878 160.029 124.878 160.029L125.131 160.025ZM60.1976 302.877C60.443 302.37 60.443 302.37 61.2008 302.359C61.4462 301.851 61.6988 301.848 62.2004 301.589C64.2103 300.804 66.2202 300.02 68.4791 298.979C76.5152 295.589 84.8039 292.195 92.84 288.804C103.893 284.363 114.693 279.925 126.002 275.732C127.008 275.466 128.012 274.947 129.271 274.677C136.564 272.306 143.604 269.938 150.9 267.818C152.661 267.289 154.674 266.756 156.435 266.227C158.701 265.691 160.963 264.903 163.229 264.367C163.482 264.363 163.482 264.363 163.987 264.356C163.742 264.864 163.745 265.116 163.493 265.12C162.248 266.398 161.002 267.676 159.501 268.705C155.001 272.046 149.982 274.386 144.703 276.225C142.693 277.01 140.427 277.546 138.417 278.33C127.602 281.76 117.041 285.186 105.97 288.367C98.6739 290.487 91.1252 292.61 83.8326 294.982C76.7891 297.098 69.7491 299.466 62.4565 301.837C61.9549 302.096 61.4533 302.356 60.9446 302.111C60.9553 302.867 60.4501 302.874 60.1976 302.877ZM125.751 132.285C125.751 132.285 125.498 132.288 125.751 132.285C125.498 132.288 125.495 132.036 125.751 132.285C125.747 132.033 125.495 132.036 125.751 132.285C125.996 131.777 126.242 131.269 126.491 131.014C134.702 122.074 142.916 113.387 151.639 104.944C160.365 96.754 169.607 89.3127 179.618 82.617C185.124 79.0099 190.631 75.4029 196.647 72.0407C204.167 67.9011 211.698 64.5177 220.001 62.1318C223.27 61.0774 226.799 60.5235 230.328 59.9696C232.092 59.6926 233.86 59.6678 235.379 59.8985C235.884 59.8914 236.393 60.1363 236.905 60.6333C236.656 60.8889 236.656 60.889 236.407 61.1446C235.657 61.6594 234.654 62.1777 233.906 62.9445C229.662 66.5338 224.65 69.3776 219.631 71.7172C214.359 74.0604 209.083 76.1516 203.811 78.4948C200.545 79.8013 197.28 81.1078 194.014 82.4143C185.978 85.8049 178.71 89.9409 171.453 94.8332C164.449 99.7219 157.7 104.859 151.215 110.749C148.97 112.797 146.726 114.846 144.481 116.894C141.983 118.946 139.486 120.998 136.989 123.05C133.492 125.873 129.995 128.695 126.498 131.518C126.502 131.77 126.256 132.277 125.751 132.285C125.747 132.033 125.747 132.033 125.751 132.285ZM74.806 245.947C77.8191 244.644 80.8357 243.593 83.8524 242.542C92.9023 239.39 102.468 236.986 112.044 235.338C118.092 234.245 124.392 233.148 130.436 231.802C134.715 230.733 138.995 229.665 143.274 228.596C150.826 226.725 158.13 225.11 165.693 223.995C170.733 223.167 175.525 222.596 180.58 222.777C181.59 222.763 182.601 222.748 183.362 222.99C184.376 223.228 185.389 223.465 186.403 223.703C186.912 223.948 187.421 224.193 187.929 224.438C188.698 225.184 188.964 226.188 188.726 227.2C188.481 227.708 188.484 227.96 188.235 228.215C187.993 228.975 187.495 229.486 186.485 229.501C185.98 229.508 185.478 229.767 184.973 229.774C179.69 231.361 174.159 233.204 168.876 234.791C163.846 236.374 159.065 237.702 154.035 239.285C146.237 241.664 138.173 243.038 130.101 243.908C123.04 244.764 115.715 244.867 108.64 244.714C103.08 244.541 97.5231 244.619 91.963 244.445C86.1503 244.275 80.3519 245.113 74.5605 246.455C74.308 246.458 73.8064 246.717 73.5538 246.721C73.5538 246.721 73.5503 246.469 73.2977 246.473C73.8028 246.465 74.3044 246.206 74.806 245.947ZM116.053 143.262C117.551 141.98 119.049 140.699 120.543 139.165C125.534 134.809 130.785 130.953 136.032 126.846C142.282 122.22 148.02 117.097 153.755 111.722C156.245 109.165 158.991 106.858 161.734 104.298C166.974 99.6863 172.474 95.5751 178.23 91.7125C183.989 88.1018 190.261 84.9882 196.543 82.6308C203.075 80.0178 209.609 77.6568 216.137 74.7917C219.905 73.226 223.416 71.4118 226.923 69.3456C228.677 68.3125 230.427 67.0273 232.181 65.9941C232.43 65.7385 232.679 65.4829 233.184 65.4758C232.939 65.9835 232.69 66.2391 232.192 66.7503C228.958 70.3254 225.465 73.3999 221.971 76.4744C214.981 82.3713 207.478 87.7712 199.716 92.6706C191.705 97.8255 183.686 102.476 175.416 107.131C168.646 110.756 162.132 114.629 155.363 118.254C148.845 121.875 142.332 125.748 136.074 129.87C133.57 131.418 130.817 133.222 128.316 135.022C126.064 136.566 123.812 138.11 121.56 139.655C119.81 140.94 118.06 142.225 116.309 143.51C115.808 143.769 115.31 144.281 115.061 144.536C115.061 144.536 115.057 144.284 114.805 144.288C115.306 144.029 115.552 143.521 116.053 143.262ZM122.834 32.7421C120.853 35.5432 119.38 38.5892 118.159 41.6317C117.43 43.6589 116.445 45.4375 115.715 47.4647C113.762 52.2822 112.318 57.3448 111.122 62.1517C109.689 67.9704 108.511 74.0377 107.582 79.8493C106.892 84.6491 105.949 89.4524 105.259 94.2522C104.558 98.2959 104.109 102.336 103.408 106.38C102.946 109.411 102.234 112.699 101.519 115.734C100.811 119.274 99.8505 122.817 99.1425 126.356C98.6693 128.632 98.1961 130.908 97.4667 132.935C96.0294 138.501 94.8446 144.065 93.9124 149.624C93.215 153.92 92.5176 158.215 91.8202 162.511C91.5889 164.027 91.3612 165.795 90.6248 167.318C90.3828 168.078 90.1409 168.838 89.9025 169.849C89.6641 170.861 88.9206 171.88 88.1736 172.647C87.9175 172.398 87.9104 171.894 87.9068 171.642C88.1416 170.378 88.3729 168.862 88.6077 167.599C89.999 158.755 90.6325 149.922 90.7574 140.845C90.8928 132.523 91.2809 124.198 91.9251 116.121C92.3522 110.569 93.0354 105.265 93.9711 99.9576C94.9069 94.6501 96.0952 89.339 97.5361 84.0244C98.5003 80.7334 99.2119 77.446 100.429 74.1514C102.357 67.5694 105.043 60.9767 107.985 54.6326C110.443 49.8079 112.898 44.7311 115.612 40.1549C117.341 37.3574 119.327 34.8083 121.568 32.5078C122.066 31.9966 122.311 31.4889 123.069 31.4782C123.08 32.2344 123.083 32.4865 122.834 32.7421ZM91.0789 199.582C92.8433 199.305 94.6042 198.776 96.3687 198.499C100.652 197.682 104.931 196.614 109.214 195.797C114.753 194.459 120.302 193.876 126.115 194.046C128.644 194.263 131.17 194.227 133.699 194.444C147.1 195.264 160.219 194.071 173.065 191.369C181.378 189.739 189.684 187.605 197.991 185.471C204.789 183.863 211.583 182.003 218.374 179.89C219.883 179.365 221.644 178.836 223.408 178.559C223.92 179.056 224.184 179.808 223.938 180.316C223.693 180.824 223.451 181.584 223.205 182.091C222.462 183.11 221.718 184.129 220.719 184.899C218.221 186.951 215.464 188.503 212.707 190.054C208.442 192.131 204.166 193.452 199.638 194.776C191.335 197.162 182.762 198.291 173.925 198.668C162.061 199.339 150.443 199.503 138.573 199.67C131.501 199.769 124.176 199.872 117.104 199.972C114.073 200.014 110.786 199.809 107.752 199.599C102.448 199.674 96.8915 199.752 91.5911 200.079C91.086 200.086 90.3283 200.097 89.8231 200.104L89.8196 199.852C90.0686 199.596 90.5738 199.589 91.0789 199.582ZM110.475 159.727C113.232 158.176 115.989 156.625 118.749 155.325C123.264 152.993 128.294 151.409 133.334 150.582C138.375 149.755 143.672 149.176 148.716 148.601C163.344 146.882 177.975 145.416 192.603 143.697C199.412 142.845 206.221 141.993 213.033 141.393C218.33 140.814 223.381 140.743 228.692 141.172C232.232 141.374 235.778 142.081 239.076 143.043C239.585 143.288 240.09 143.281 240.598 143.526C240.851 143.522 240.854 143.774 241.363 144.019C241.114 144.275 240.862 144.278 240.609 144.282C231.805 146.927 222.726 148.063 213.381 148.195C208.33 148.266 203.026 148.34 197.978 148.664C194.193 148.969 190.159 149.53 186.378 150.087C181.589 150.911 176.549 151.738 171.757 152.31C168.733 152.857 165.453 153.155 162.43 153.702C157.894 154.522 153.102 155.094 148.303 155.161C138.706 155.296 129.119 156.188 119.542 157.835C116.771 158.378 113.748 158.925 110.98 159.72C110.727 159.724 110.226 159.983 109.721 159.99L109.717 159.738C110.222 159.731 110.222 159.731 110.475 159.727ZM35.0881 259.868C32.6944 251.33 29.2903 242.806 26.395 234.527C25.6053 232.269 24.5631 230.015 23.7735 227.757C21.9381 222.993 20.3553 218.225 19.274 213.198C18.4737 210.184 18.1822 207.415 18.3922 204.387C18.5418 197.073 18.4389 189.764 17.8309 182.461C17.5287 178.936 16.9739 175.414 16.419 171.892C15.2952 163.84 13.9189 155.792 13.0476 147.737C12.4822 143.459 12.1693 139.178 11.8528 134.644C11.5719 132.631 11.7961 130.611 11.5151 128.598C11.5116 128.346 11.5116 128.346 11.757 127.838C12.0131 128.087 12.2693 128.335 12.2728 128.588C12.7922 129.589 13.3115 130.59 13.5818 131.847C14.6311 134.605 15.4314 137.619 15.9756 140.385C17.5903 147.421 18.9525 154.461 20.0621 161.504C23.0816 178.605 26.0976 195.454 28.8646 212.559C30.5219 222.62 31.9302 232.937 33.335 243.001C34.1707 248.536 35.01 254.323 35.8458 259.857C35.8529 260.361 36.1161 261.114 36.1232 261.618L35.8706 261.622C35.3584 261.125 35.0952 260.372 35.0881 259.868ZM222.131 177.568C215.838 179.17 209.545 180.771 203.252 182.372C192.68 185.042 182.107 187.712 171.272 189.629C160.941 191.539 150.853 192.69 140.241 192.587C136.705 192.637 133.166 192.435 129.879 192.229C123.305 191.817 116.489 192.165 110.193 193.514C104.398 194.604 98.6027 195.694 92.8043 196.532C92.2992 196.539 91.794 196.546 91.2924 196.806C91.2853 196.302 91.7905 196.294 92.0395 196.039C96.0593 194.47 100.083 193.152 104.113 192.339C107.895 191.782 111.42 190.976 115.205 190.67C123.02 189.552 130.839 188.686 138.655 187.567C146.47 186.449 154.282 185.078 162.083 182.952C170.642 180.814 179.201 178.677 187.508 176.543C192.292 175.467 197.077 174.391 201.869 173.82C204.896 173.525 207.923 173.23 211.21 173.436C213.992 173.649 216.777 174.114 219.57 175.083C220.584 175.321 221.601 175.811 222.626 176.805C222.38 177.313 222.131 177.568 222.131 177.568ZM62.5343 217.631C62.6698 209.31 62.0476 200.999 60.9238 192.947C59.5084 182.126 58.5981 171.298 58.193 160.463C57.4679 144.843 56.9918 128.967 56.5192 113.342C56.4199 106.285 56.3206 99.227 56.7264 92.1622C56.9186 87.8736 57.3634 83.5814 58.3169 79.5343C59.274 75.7391 60.2311 71.944 62.2019 68.3867C62.6964 67.6234 63.1909 66.8601 63.9415 66.3454C64.1906 66.0897 64.4396 65.8341 64.9483 66.0791C64.9518 66.3311 64.9518 66.3311 64.9554 66.5832C63.5216 72.4019 62.5929 78.2135 62.4255 84.2665C62.0161 91.0793 62.368 98.1334 62.969 104.932C63.936 119.793 64.6469 134.405 64.3511 149.284C64.1766 154.833 64.0021 160.382 63.8276 165.931C63.4218 172.995 63.2685 180.057 63.1153 187.118C62.9373 192.415 63.0118 197.708 63.3424 203.25C63.634 206.019 63.4204 208.795 63.4559 211.316C63.4772 212.828 63.502 214.592 63.5233 216.105C63.5375 217.113 63.2991 218.125 62.5521 218.892C62.545 218.388 62.5414 218.135 62.5343 217.631ZM64.833 201.464C64.2498 195.926 64.1682 190.128 64.3427 184.579C64.503 178.022 64.6633 171.465 65.3252 164.649C66.4071 151.776 66.9839 138.91 67.5642 126.297C67.9452 117.467 67.572 108.901 66.6901 100.089C66.0927 93.543 65.7479 86.993 65.6556 80.4394C65.5953 76.1544 65.7876 71.8658 66.4814 67.3181C66.4779 67.066 66.4743 66.8139 66.4743 66.8139C66.7234 66.5583 66.9795 66.8068 67.2356 67.0553C67.7514 67.8044 68.2672 68.5535 68.7865 69.5546C69.8216 71.3048 70.3551 73.3142 70.8886 75.3235C72.4857 81.0996 73.5811 87.1348 73.9188 93.1807C74.8468 105.269 74.7646 117.371 73.4194 129.492C72.7504 135.804 72.0814 142.116 71.1598 148.432C70.2596 156.26 69.3592 164.088 68.7115 171.912C67.8325 181.253 67.2025 190.338 66.071 199.682C66.0816 200.438 65.8397 201.198 65.8503 201.954C65.8539 202.206 65.6084 202.714 65.612 202.966L65.3594 202.969C64.8436 202.22 64.8401 201.968 64.833 201.464ZM7.28177 132.944C6.86533 139.252 7.45915 145.547 9.05971 151.575C10.4006 157.102 11.738 162.378 13.0789 167.905C15.4726 176.443 16.6071 185.251 16.7348 194.326C16.7809 197.602 16.8271 200.879 16.8732 204.156C16.9122 206.929 17.2038 209.698 17.7444 212.211C18.8257 217.238 20.1594 222.262 21.9984 227.278C25.4095 236.306 28.3155 245.341 30.9725 254.632C31.7763 257.898 32.8292 260.908 33.8856 264.171C33.8891 264.423 33.8891 264.423 33.8927 264.675C33.3875 264.682 33.384 264.43 33.3804 264.178C32.3382 261.924 31.0399 259.421 29.9977 257.166C24.7796 245.391 20.5681 233.349 17.1109 221.044C14.7136 212.254 12.3163 203.464 10.168 194.418C6.94557 180.849 5.23503 167.007 5.29246 153.14C5.2286 148.603 5.41731 144.063 5.86214 139.771C6.07923 137.246 6.55244 134.971 7.02564 132.695C7.02209 132.443 7.27113 132.187 7.26758 131.935L7.52013 131.932C7.27111 132.187 7.27823 132.692 7.28177 132.944ZM125.634 34.2153C125.417 36.7395 125.199 39.2636 124.73 41.7914C124.047 47.0953 123.114 52.6548 122.179 57.9623C121.488 62.7621 120.542 67.3134 119.346 72.1204C117.916 78.1911 116.486 84.2619 115.056 90.3327C113.864 95.3917 112.416 100.202 110.968 105.013C108.57 114.122 105.663 122.987 103.009 131.848C101.316 137.166 99.6221 142.485 97.9251 147.551C97.1993 149.83 96.4735 152.109 95.4952 154.392C95.4987 154.644 95.2497 154.9 95.0007 155.155C94.4956 155.162 94.7446 154.907 94.741 154.655C95.2036 151.623 95.9223 148.839 96.3848 145.808C98.0428 137.969 100.459 130.119 102.622 122.274C104.066 117.211 105.254 111.9 106.446 106.841C107.386 101.786 108.578 96.7266 109.769 91.6676C110.712 86.8643 111.403 82.0645 112.345 77.2611C112.805 73.9772 113.52 70.9418 114.231 67.6544C114.939 64.1149 115.896 60.3197 116.604 56.7802C117.554 52.481 119.013 48.4267 120.472 44.3724C121.197 42.0932 122.176 39.8104 122.905 37.7833C123.638 36.0082 124.371 34.2331 125.104 32.458L125.356 32.4545C125.623 33.4592 125.63 33.9633 125.634 34.2153ZM59.3902 299.359C63.4029 297.286 67.6682 295.209 71.6809 293.136C76.1952 290.803 80.4605 288.726 84.9749 286.394C92.2462 282.51 99.7736 278.874 107.308 275.743C113.334 273.137 119.111 270.787 125.138 268.181C131.921 265.564 138.965 263.448 146.019 262.088C150.807 261.264 155.347 260.696 160.149 260.881C161.159 260.867 162.173 261.104 162.931 261.094C163.436 261.087 163.692 261.335 164.197 261.328C164.706 261.573 164.962 261.822 164.969 262.326C164.98 263.082 164.731 263.337 163.973 263.348C157.424 264.701 151.131 266.302 144.589 268.159C136.539 270.541 128.737 272.668 120.947 275.551C113.91 278.171 106.621 280.795 99.5849 283.415C92.0468 286.294 84.7649 289.422 77.2268 292.301C70.9481 294.911 64.4132 297.272 58.3906 300.13C58.138 300.133 57.889 300.389 57.6364 300.392C57.6364 300.392 57.6328 300.14 57.3803 300.144C58.3906 300.13 58.8886 299.619 59.3902 299.359ZM184.51 232.806C182.017 235.11 179.267 237.165 176.51 238.717C172.497 240.79 168.228 242.615 163.952 243.936C159.925 245.001 156.151 246.063 152.121 246.876C145.575 248.48 139.022 249.581 132.466 250.43C126.415 251.271 120.613 251.857 114.552 251.942C104.958 252.33 95.3599 252.465 85.7552 252.096C81.9631 251.897 78.1746 251.95 74.386 252.004C72.3655 252.032 70.5975 252.057 68.5805 252.337C68.0753 252.345 67.8263 252.6 67.3176 252.355C67.8157 251.844 68.3208 251.837 68.8224 251.578C74.3505 249.483 80.1454 248.393 85.9474 247.807C89.985 247.498 94.0297 247.693 98.3233 247.633C106.157 247.775 113.99 247.917 121.816 247.554C128.379 247.21 134.935 246.361 141.235 245.264C145.017 244.707 149.044 243.642 152.814 242.328C159.858 240.212 166.898 237.844 173.934 235.224C177.453 233.914 181.224 232.6 184.745 231.542C184.998 231.538 185.247 231.283 185.752 231.276C185.258 232.039 185.008 232.295 184.51 232.806Z" style="stroke-dasharray: 7255, 7257; stroke-dashoffset: 0;"></path>
         </svg>
    </div>
    <div class="down_light_animated_wave"></div>
</section>
<style>
    .bonus-share-inner{
        background:{{ section.settings.bg_color }};
    }
</style>
{% schema %}
  {
    "name": "Bonus program features",
	"class": "section_start",
	"settings": [
	  {
        "type":"color",
        "id":"bg_color",
        "label":"Background color"
      },	
      {
        "type":"header",
        "content":"Title and subtitle"
      },
      {
        "type":"text",
        "id":"title",
        "label":"Title"
      },	
      {
        "type":"text",
        "id":"subtitle",
        "label":"Subtitle"
      },
	  {
        "type":"header",
        "content":"Features images"
      },
	  {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type":"header",
        "content":"learn more button"
      },
	  {
		"type":"text",
		"id":"btn_label",
		"label":"Button label"
      },
      {
        "type":"url",
        "id":"btn_url",
        "label":"Button Link"
      },
      {
        "type":"header",
        "content":"ANIMATION IMAGE"
      },
      {
        "type":"image_picker",
        "id":"image_anim",
        "label":"Image"
      }
    ],
	"blocks": [
	  {
          "type":"bonusFeatures",
          "name":"Bonus features",
          "settings": [
			  {
                  "type":"image_picker",
                  "id":"features_icon",
                  "label":"Features icon"
              },
              {
                  "type":"text",
                  "id":"features_title",
                  "label":"Features title"
              },
			  {
                  "type":"richtext",
                  "id":"features_info",
                  "label":"Features info"
              },
			  {
                 "type": "select",
                 "id": "features_side",
                 "label": "Features side",
                 "options": [
                   {
                     "value": "Left",
					 "label": "Left"
                   },
                   {
                     "value": "Right",
					 "label": "Right"
                   }
                 ]
              }
           ]
      }
	]
  }
{% endschema %}