<section class="feature-row-with-steps">
    <div class="container">
        <div class="title_div mb-5 text-center">
            {% if section.settings.subtitle != blank %}
                <h5>{{ section.settings.subtitle }}</h5>
            {% endif %}
            {% if section.settings.title != blank %}
                <h3 class="mb-0">{{ section.settings.title }}</h3>
            {% endif %}
        </div>
        <div class="row ">
            <div class="col-lg-7 ">
                
                <div class="row m-0 align-items-center">
                    <div class="col-lg-4 col-5">
                        <div class="step_image text-center">
                            {%- assign preview_image_1 = section.settings.step_first_image -%}
                            {%- assign img_url = preview_image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            {% unless preview_image_1 == blank %}
                                {% include 'image-style', image: preview_image_1, height: max_height %}
                            {% endunless %}
                            <img id="{{ img_id }}"
                            class="lazyautosizes lazyload js aos-init aos-animate"
                            width="224"
                            height="153"
                            alt="{{ preview_image_1.alt }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ preview_image_1.aspect_ratio }}"
                            data-sizes="auto"
                            data-image  data-index="{{ forloop.index }}" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="300">
                         </div>
                    </div>
                    <div class="col-2 col-lg-2">
                        <div class="step_arrow text-center" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200" data-aos-offset="300">
                           <svg width="90" height="34" viewBox="0 0 90 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M89.198 15.0636L89.1955 15.061L74.9079 0.842261C73.8375 -0.222914 72.1063 -0.21895 71.0408 0.851557C69.9755 1.92193 69.9796 3.6532 71.05 4.71851L80.6427 14.2648H2.73438C1.22418 14.2648 0 15.4889 0 16.9991C0 18.5093 1.22418 19.7335 2.73438 19.7335H80.6426L71.0501 29.2798C69.9797 30.3451 69.9756 32.0763 71.0409 33.1467C72.1064 34.2174 73.8378 34.221 74.908 33.156L89.1957 18.9373L89.1981 18.9347C90.2691 17.8658 90.2656 16.1289 89.198 15.0636Z" fill="#E8BD6E"/>
                           </svg>
                        </div>
                     </div>
                     <div class="col-5 col-lg-4">
                        <div class="step_image text-center">
                            {%- assign preview_image_2 = section.settings.step_second_image -%}
                            {%- assign img_url = preview_image_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            {% unless preview_image_2 == blank %}
                                {% include 'image-style', image: preview_image_2, height: max_height %}
                            {% endunless %}
                            <img id="{{ img_id }}"
                            width="112"
                            height="208"
                            class="lazyautosizes lazyload js glass_img aos-init"
                            alt="{{ preview_image_2.alt }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ preview_image_2.aspect_ratio }}"
                            data-sizes="auto"
                            data-image  data-index="{{ forloop.index }}" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400" data-aos-offset="300" >
                        </div>
                     </div>
                     <div class="col-lg-2  col-5 ml-lg-0 ml-auto">
                        <div class="step_arrow text-center step_rotate_arrow" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400" data-aos-offset="300">
                           <svg width="90" height="34" viewBox="0 0 90 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M89.198 15.0636L89.1955 15.061L74.9079 0.842261C73.8375 -0.222914 72.1063 -0.21895 71.0408 0.851557C69.9755 1.92193 69.9796 3.6532 71.05 4.71851L80.6427 14.2648H2.73438C1.22418 14.2648 0 15.4889 0 16.9991C0 18.5093 1.22418 19.7335 2.73438 19.7335H80.6426L71.0501 29.2798C69.9797 30.3451 69.9756 32.0763 71.0409 33.1467C72.1064 34.2174 73.8378 34.221 74.908 33.156L89.1957 18.9373L89.1981 18.9347C90.2691 17.8658 90.2656 16.1289 89.198 15.0636Z" fill="#E8BD6E"/>
                           </svg>
                        </div>
                     </div>
                </div>
                <div class="content_div d-lg-block d-none">
                    {% if section.settings.richtext != blank %}
                        <div class="my-4 richtext display-3">{{ section.settings.richtext }}</div>
                    {% endif %}
                    {% if section.settings.btn_url != blank %}
                        <a class="button-all" href="{{ section.settings.btn_url }}">{{ section.settings.btn_label }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="img_div text-center">
                        {%- assign preview_image_3 = section.settings.image -%}
                        {%- assign img_url = preview_image_3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {% unless preview_image_3 == blank %}
                            {% include 'image-style', image: preview_image_3, height: max_height %}
                        {% endunless %}
                        <img id="{{ img_id }}"
                        width="402"
                        height="543"
                        class="lazyautosizes lazyload js aos-init"
                        alt="{{ preview_image_3.alt }}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ preview_image_3.aspect_ratio }}"
                        data-sizes="auto"
                        data-image  data-index="{{ forloop.index }}" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500" data-aos-offset="500">
                </div>
            </div>
            <div class="content_div d-lg-none d-block mt-5 col-12">
                {% if section.settings.richtext != blank %}
                    <div class="richtext display-3 text-center">{{ section.settings.richtext }}</div>
                {% endif %}
                {% if section.settings.btn_url != blank %}
                    <a class="button-all my-4 m-auto w-full-mob" href="{{ section.settings.btn_url }}">{{ section.settings.btn_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Feature row with steps",
	"class": "section_start",
    "settings": [
	{
      "type":"header",
      "content":"Title and subtitle"
    },
    {
      "type":"text",
      "id":"title",
      "label":"Title"
    },	
    {
      "type":"text",
      "id":"subtitle",
      "label":"Subtitle"
    },
	{
		"type":"header",
		"content":"left side"
	},  	
	{
      "type":"image_picker",
      "id":"step_first_image",
      "label":"Step first image"
    },
	{
      "type":"image_picker",
      "id":"step_second_image",
      "label":"Step second image"
    },
	{
      "type":"richtext",
      "id":"richtext",
      "label":"Text"
    },
	{
		"type":"text",
		"id":"btn_label",
		"label":"Button label"
	},
	{
		"type":"url",
		"id":"btn_url",
		"label":"Button Link"
	},
	{
		"type":"header",
		"content":"right side"
	},
	{
      "type":"image_picker",
      "id":"image",
      "label":"Image"
    }

	],
	"presets": [
    {
      "name": {
        "en": "Feature row with steps"
      },
      "category": {
          "en": "Home page section"
      }
	}
  ]
  }
{% endschema %}